
#home-grid {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: min-content auto;
    min-height: 100%;
    max-width: 100%;
    color: #fff;
    font-size:16px;
}

#home-header {
    display: grid;
    grid-template-columns: auto auto auto; 
    padding: 10px;
}

#home-header > div:nth-child(2) {text-align: center;}
#home-header > div:last-child { text-align: right;}

#settings-img { width: 50px; border-radius:50%; 
  
  padding:5px;
  margin-top:10px;
  
}

#settings-img.with-anim {box-shadow: 0 0 10px 0px #fff; animation: whitepulse 4s ease-out infinite;}


@-webkit-keyframes whitepulse {
    0%   { box-shadow:0 0 10px 0px #fff; }
    50%  { box-shadow: 0 0 1px 0px #fff; }
    100% { box-shadow: 0 0 10px 0px #fff; }
  }
  
  @keyframes whitepulse {
    0%   { box-shadow:0 0 10px 0px #fff; }
    50%  { box-shadow: 0 0 1px 0px #fff; }
    100% { box-shadow: 0 0 10px 0px #fff; }
  }

.qp-logo {
    max-height: 80px;
}

#small-gauntlet-wrap { margin: 30px 0;}
#small-gauntlet { width:80px;
    animation: pulsate 1.5s ease-out infinite;
    border-radius: 50%;
}

#wrong-answer { margin-top:40px; text-align: center; }

#wrong-line {
    display: inline-block;
    width:100%;
    transition: all 2s ease-out;
    background: #fff;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #0f0;
}

#wrong-line.shrink {
    width: 0;
}

#intro-text {
  color: #fff;
  text-align: center;
  padding:15px;
  font-size:20px;
  line-height: 1.5em;
  text-shadow: 0 0 2px #000;
}

#register-form  { margin-top:50px; text-align:center; padding:20px; font-size:24px;}

#register-form input {
    margin: 50px 0 70px; 
}

#check-form input,
#register-form input {text-align: center; background: rgba(255,255,255, 0.7); width:100%; height:40px; font-size:16px; border:none; padding:5px;
    box-shadow: 0 0 20px 0px rgba(255, 255, 0, 0.9);
    border-radius: 30px;
    outline:none;
}

#check-form input::placeholder,
#register-form input::placeholder { color:#000;}

#check-form {
    margin-top: 30px;
}

#check-button,
#start-button { 
    border:none; 
    
    border-radius: 40px;
    display: inline-block;
    padding:10px 20px;
    font-size: 20px;
    animation: pulsate 1s ease-out infinite;
    text-transform: uppercase;
    font-weight: bold;
    outline:none;
}

#check-button {
    margin-top:30px;
    text-shadow: 0 0 20px rgb(0, 217, 255);
    animation: redpulsate 2s ease-out infinite;
}

#check-text {
    font-size: 16px;
}


#found-gem { max-height: 100px; margin-top:20px;}


.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}