
#gauntlet-grid {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: grid;
        grid-template-rows: min-content auto;
        max-height: 100%;
}

#gauntlet-cell { 
    position: relative;
    display: grid;
    align-items: end;
}

#gauntlet { max-height: 100%; max-width: 100%;}

.infinity-stone { 
    position: absolute;
    bottom:0;
    left:0;
}

#snap { 
    position: absolute;
    left:0;
    width:100%;
    top: 20%;
}

#snap-btn { 
    font-size:24px;
    border: 0;
    background: none;
    padding:5px 10px;
    display: inline-block;
    animation: pulsate 1s ease-out infinite;
    border-radius: 15px;
}

#gg-top { 
    font-size: 18px;
    text-shadow: 0 0 3px #000;
    color:#fff;
    padding:15px;
    text-align: center;
}

#remaining, #remaining a {
    color:#fff;
}

#remaining a { text-decoration: underline;}

#remaining {
    display: grid;
    grid-template-columns: auto auto;
}

#remaining div:first-child { text-align: left;}
#remaining div:last-child { text-align: right;}