.button {
  color:#fff;
  background: rgba(0,0,0, 0.5);
  border:none;
  display: inline-block;
  text-shadow: 0 0 20px rgba(255, 255, 0, 1);
  box-shadow: 0 0 20px 0px rgba(0, 255, 255, 0.9);
  text-decoration: none;
}

.default-btn {
  font-size: 18px;
  border-radius: 15px;
  padding:5px 10px;
}

@-webkit-keyframes pulsate {
  0%   { box-shadow:0 0 20px 0px rgba(0, 255, 255, 0.9); }
  50%  { box-shadow: 0 0 5px 0px rgba(0, 255, 255, 0.9); }
  100% { box-shadow: 0 0 20px 0px rgba(0, 255, 255, 0.9); }
}

@keyframes pulsate {
  0%   { box-shadow:0 0 20px 0px rgba(0, 255, 255, 0.9); }
  50%  { box-shadow: 0 0 5px 0px rgba(0, 255, 255, 0.9); }
  100% { box-shadow: 0 0 20px 0px rgba(0, 255, 255, 0.9); }
}

@-webkit-keyframes redpulsate {
  0%   { box-shadow:0 0 15px 0px #f00; }
  50%  { box-shadow: 0 0 1px 0px #f00; }
  100% { box-shadow: 0 0 15px 0px #f00; }
}

@keyframes redpulsate {
  0%   { box-shadow:0 0 15px 0px #f00; }
  50%  { box-shadow: 0 0 1px 0px #f00; }
  100% { box-shadow: 0 0 15px 0px #f00; }
}

#warning-message {
    
  display: none;
  color:#000;
  position: absolute;
  left:0;
  top:30%;
  width:100%;
  text-align: center;
  padding: 20px;
  font-size: 20pt;
  font-weight: bold;
  line-height: 1.5em;
}

#warning-message {
  display: none;
}
